
/* Your CSS Code here. */
.moviePic{
	width:300px;
	height:350px;
	opacity:0.9;
	/* margin-left:40px;  */
    display:flex;
	margin:auto
	/* text-align:center; */
}
.movieDetail{
	position:relative;
	top:10px;
	width:500px;
	text-align:center;
	font-size:15px;
	
}
.container{
	width:100vw;
	height:100vh;
	background-color:aqua;
}